/* Global Styles */
body {
    font-family: "Times New Roman", serif;
    background-color: #fff; 
    color: #000; /* Black text */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    align-items: center; /* Horizontally centers content */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center-aligns text */
}
/* Container for Page Content */
.container {
    width: 80%;
    max-width: 800px; /* Limits width of the content */
    margin: 20px auto 0;
    text-align: center;
    overflow: auto;
}

/* Header */
header {
    width: 100%;
    background-color: transparent;
    padding: 50px 0;
    text-align: center;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000080;
    font-size: 16px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #000;
    text-decoration: underline;
  }
header .social-icons img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}

/* Headings */
h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0 30px;
}
h3  {
    font-size: 26px;
    font-weight: bold;
}

/* Paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* List Styles */
ul {
    list-style-type: none;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 10px; /* Space between list items */
    text-align: center;
    text-decoration: underline;
}

ul li {
    margin: 0; /* Remove individual list item margins */
    padding: 0;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #000080;
}

ul li a:hover {
    text-decoration: underline;
    color: #000;
}

/* Footer */
footer {
    margin-top: 40px;
    font-size: 50px;
    color: #555;
    text-align: center;
  }
footer .social-icons img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}

/* Mobile Optimization */
@media (max-width: 768px) {
    header {
        padding: 5px 0;
    }
    nav a {
        font-size: 12px;
    }
    .container {
        width: 90%;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
footer {
        font-size: 10px;
    }
}
